<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-950 text-white">

<nav class="border-b border-orange-500/20 bg-zinc-900">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between">

    <h1 class="text-2xl font-bold text-orange-500">
      AI Course Builder
    </h1>

    <a href="/roadmap/home" class="bg-orange-500 px-2.5 py-1 rounded-md">
      Back
    </a>

  </div>
</nav>

<section class="max-w-7xl mx-auto px-6 py-12">

  <h1 class="text-5xl font-bold mb-2">
    My Roadmaps
  </h1>

  <p class="text-zinc-400 mb-10">
    Continue your learning journey.
  </p>

  <div class="grid md:grid-cols-3 gap-6">

    <div class="bg-zinc-900 p-6 rounded-2xl border border-orange-500/20">

      <h2 class="text-xl font-bold">
        MERN Developer
      </h2>

      <p class="text-zinc-400 mt-2">
        Beginner • 2 hrs/day
      </p>

      <a
        href="/roadmap/1"
        class="inline-block mt-6 bg-orange-500 px-4 py-2 rounded-lg"
      >
        View
      </a>

    </div>

  </div>

</section>

</body>
</html>